language: python
python: 2.7
env:
  - TOX_ENV=pypy3
  - TOX_ENV=pypy
  - TOX_ENV=py34
  - TOX_ENV=py33
  - TOX_ENV=py32
  - TOX_ENV=py27
install:
  - pip install tox
script:
  - tox -e $TOX_ENV
sudo: false
