sudo: false
language: python
python:
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "pypy"
  - "pypy3"

install:
  - pip install -e .
script:
  - py.test

cache:
  directories:
    - $HOME/.cache/pip/http
